<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    
    <bindings>
      <!--the wcf server is hosting its service with tcp protocol. So, the client app must connect to the server with tcp protocol-->
      <netTcpBinding>
        <binding name="NetTcpBinding_ItimeService"  maxReceivedMessageSize="20480000" transferMode="Buffered" >
          <!--to ease the testing, just turn off the security setting-->
          <security mode="None"></security>
        </binding>
      </netTcpBinding>
    </bindings>
    
    <client>
      <!--replacing 127.0.0.1 with your server ip address-->
      <endpoint address="net.tcp://127.0.0.1:1888/" binding="netTcpBinding"
          bindingConfiguration="NetTcpBinding_ItimeService" contract="ServiceReference1.ItimeService"
          name="NetTcpBinding_ItimeService">
        <identity>
          <!--Make sure the client & server has the same value (ie, this is the 'key' to open the door).-->
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
    
  </system.serviceModel>
</configuration>