<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="wcfServer.timeServiceBehavior">
          <!--You don't need this in the live environment-->
          <!--<serviceMetadata httpGetEnabled="true" />-->
          
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <bindings>
      <!--the wcf server is hosting its service with tcp protocol-->
      <netTcpBinding>
        <binding name="NetTcpBinding_ItimeService" maxReceivedMessageSize="20480000" transferMode="Buffered" >
          <!--to ease the testing, just turn off the security setting-->
          <security mode="None"></security>
        </binding>
      </netTcpBinding>
    </bindings>
    
    <services>
      <service behaviorConfiguration="wcfServer.timeServiceBehavior"
          name="wcfServer.timeService">
        <endpoint address="net.tcp://localhost:1888" binding="netTcpBinding"
            bindingConfiguration="NetTcpBinding_ItimeService" contract="wcfServer.ItimeService" >
          <identity>
            <!--Make sure the client & server has the same value (ie, this is the 'key' to open the door).-->
            <dns value="localhost" />
          </identity>
        </endpoint>
        
        <!--You don't need this in the live environment-->
        <!--<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/wcfServer/timeService/" />
          </baseAddresses>
        </host>-->
      </service>
    </services>
    
  </system.serviceModel>
</configuration>
